@import url('https://fonts.googleapis.com/css?family=Righteous: 400,500,700');
@import url('https://fonts.googleapis.com/css?family=Libre Barcode 39 Extended Text');


body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 1.2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.sneakerwala {
    margin-left: 20px;
    font-family: 'Libre Barcode 39 Extended Text';
    font-style: normal;
    font-weight: normal;
    font-size: 65px;
    line-height: 120px;
    align-items: center;
    text-align: center;
}
.sneakerwala a {
        color: #000000;
        text-decoration: none;
}
.full-height-grow{
    display: flex;
    flex-direction: column;
}
.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 25px;
    font-family: Righteous;
}
.main-nav a{
    color: inherit;
    text-decoration: none;
    padding: 2rem;
}
.main-nav a:hover{
    color: #adadad;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}
h1{
    align-items: center;
    padding: 50px;
}
p {
    font-family: 'Libre Barcode 39';
    font-size: 50px;
    margin: 0;
    padding: 10px;
}
.container{
    max-width: 1800px;
    max-height: 0 px;
    margin-left: 1px;
    margin-right: 1px;
}
.title {
    font-family: Righteous;
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 1rem;
    margin-top: 0;
}
.subtitle {
    font-family: Righteous;
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 2rem;
    margin-left: 55px;
    margin-top: 0px;
}
.prize{
    width: 80px;
    height: 2px;
    margin-left: 30px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    color: #000000;
    text-align:center;
    align-items: center;
    text-decoration: none;
    padding: 30px;
    background: linear-gradient(232.52deg, #FFFFFF -23.51%, rgba(255, 255, 255, 0) 71.7%), #80FF00;
    border-radius: 50px;
    margin-top: 0px;
}
.size{
    font-family: Righteous;
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 2rem;
    margin-left: 60px;
    margin-top: 0px;
}
.size1{
    font-family: Righteous;
    font-weight: 400;
    font-size: 0.8em;
    margin-bottom: 2rem;
}
.btn {
    width: 100px;
    height: 2px;
    margin-left: 30px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    color: #000000;
    text-align:center;
    align-items: center;
    text-decoration: none;
    padding: 40px;
    background: linear-gradient(232.52deg, #FFFFFF -23.51%, rgba(255, 255, 255, 0) 71.7%), #80FF00;
    border-radius: 50px;
    margin-top: 0px;
}
.product-main-section a:hover{
        color: #adadad;
 }
.ellipse {
    z-index: -1;
    width: 10vw;
    height: 13vw;
    right: 34.1em;
    position: absolute;
}
.product-main-section .shoe-image {
    flex-grow: 1;
    max-height: 70vh;
    min-width: 20vw;
    background-size: contain;
    background-repeat: no-repeat;
    width: 703px;
    height: 346.09px;
    left: 750px;
    top: 110px;
    position: absolute;
    padding: -100px;
}
 .product-main-section .img-wrapper {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}
.icon {
    height: 30px;
    width: 30px;
}
.iconAlign {
   
    text-align: center;
    overflow: hidden;
    padding: 0px;
    top: 90px;
   
}
.shoe-image {
    position: absolute;
    width: 703px;
    height: 346.09px;
    left: 600px;
    top: 400px;
}
.product-main-section .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    align-self: normal;
    
}
}
.home-page-ellipse {
    position: absolute;
    width: 100vw;
    height: 100vw;
    top: 5px;
    right: 0vw;
    z-index: -1;
    overflow: hidden;
    margin-top: 0;
}
.home-page-ellipse::before {
        content: '';
        transform: translate(50%,-50%);
        position: absolute;
        height: 80%;
        width: 80%;
        border-radius: 100%;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #80FF00;

}